* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: hsl(221, 100%, 96%);
}

.container {
    width: 40%;
    height: auto;
    margin: 10% auto;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-radius: 8%;
}

.result-container {
    width: 50%;
    box-sizing: border-box;
    background-color: hsl(252, 100%, 67%);
    color: hsl(241, 100%, 89%);
    border-radius: 8%;
    text-align: center;
}

.result-container h3 {
    text-align: center;
    margin: 20px;
}

.score {
    border-radius: 50%;
    background-color: hsl(241, 81%, 54%);
    text-align: center;
    margin: 50px 50px 0 50px;
    padding: 50px;
}
.score h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
    font-size: 55px;
}

.score h4 {
    color: hsl(241, 100%, 89%);
}

.result-container h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}

.result-container p {
    margin: 20px 5px;
    padding: 0px 20px;
}

.summary-container {
    margin: 20px;
}

.summary-container h2 {
    margin-bottom: 15px;
}