* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: hsl(221, 100%, 96%);
}

.container {
    width: 580px;
    height: auto;
    margin: 10% auto;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-radius: 8%;
}

.result-container {
    width: 50%;
    box-sizing: border-box;
    background-color: hsl(252, 100%, 67%);
    color: hsl(241, 100%, 89%);
    border-radius: 8%;
    text-align: center;
}

.result-container h3 {
    text-align: center;
    margin: 20px;
}

.score {
    border-radius: 50%;
    background-color: hsl(241, 81%, 54%);
    text-align: center;
    margin: 50px 50px 0 50px;
    padding: 50px;
}
.score h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
    font-size: 55px;
}

.score h4 {
    color: hsl(241, 100%, 89%);
}

.great {
    padding: 10px;
    margin: 0px 10px;
}
.result-container h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}

.result-container p {
    margin: 20px 5px;
    padding: 0px 20px;
}

.summary-container {
    margin: 20px;
}

.summary-container h2 {
    margin-bottom: 35px;
    color: black;
}

.reaction  {
    width: 100%;
    background-color: hsl(0, 45%, 94%);
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-justify: auto;
    display: flex;
}

.reaction h4 {
    margin-left: 10px;
    color: hsl(0, 100%, 67%);
}

.reaction p {
    margin-left: 60px;
}
.memory  {
    width: 100%;
    background-color: hsl(39, 61%, 91%);
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-justify: auto;
    display: flex;
}

.memory h4 {
    margin-left: 10px;
    color: hsl(39, 100%, 56%);
}

.memory p {
    margin-left: 60px;
}
.verbal  {
    width: 100%;
    background-color: hsl(167, 51%, 93%);
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-justify: auto;
    display: flex;
}

.verbal h4 {
    margin-left: 10px;
    color: hsl(166, 100%, 37%);
}

.verbal p {
    margin-left: 70px;
}
.visual  {
    width: 100%;
    background-color: hsl(233, 71%, 93%);
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-justify: auto;
    display: flex;
}

.visual h4 {
    margin-left: 10px;
    color: hsl(234, 85%, 45%);
}

.visual p {
    margin-left: 70px;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    background-color: rgb(54, 50, 50);
    color: hsl(0, 0%, 100%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(234, 85%, 45%);
}
